*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    --blue:#118Df0;
    --dark-blue:#0E2F56;
    --red:#FF304F;
    --cream:#ECECDA;

}
body{
    background-color: var(--cream);
}
header ul{
    list-style: none;
}