.on{
    display: block;
}
/* desktop */
@media all and (max-width:1300px) {
 html, body{
     font-size: 12px;
 }   
}

@media all and (max-width:1000px) {
    figure{
        width: 60vw;
    }
    main figure{
        width: 35vw;
    } 
    nav{
        display: none;
    }  
    .menu{
        display: block;
        width: 8vw;
        margin: 5px 0;
    }
    header{
        align-items: center;
        display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 20px;
    border-bottom: 1px solid rgb(207, 207, 207);
    box-shadow: 0px 0px 1px 2px grey;
    height: 100%;
    margin-bottom: 3px;
    }
    nav{
        display: none;
        order: 1;
        width: 100%;
    }
    header ul{
        flex-direction: column;
    }
    header ul li:first-child{
        border-left: none;
    }
    header ul li{
        border-right: none;
        padding-top: 0;
        margin: 10px 0;
    }
    header nav a{
        padding-top: 0;
        font-size: 2rem;
       
    }
    .top{
        flex-wrap: wrap;
    }
    figure{
        width: 100%;
    }
    aside{
        margin: 10px 0;
        width: 100%;
    }
    aside ul{
        display: flex;
    }
    .source li{
        width: 100%;
    }
    .source a{
        flex-wrap: wrap;
    }
    .source img{
        width: 100%;
    }
    .source p{
        white-space: normal;
    }
   }

   @media all and (max-width:700px) {
   html,body{
       font-size: 10px;
   }
    main figure{
        width: 60%;
    }   
   }
   /* mobile */
   @media all and (max-width:400px) {
   
    main figure{
        width: 90%;
    }   
   }